@font-face {
    font-family: "RobotoRegular";
    src: url(../fonts/RobotoRegular.ttf);
}

@font-face {
    font-family: "RobotoLight";
    src: url(../fonts/RobotoLight.ttf);
}

@font-face {
    font-family: "RobotoBold";
    src: url(../fonts/RobotoBold.ttf);
}

@font-face {
    font-family: "RobotoBlack";
    src: url(../fonts/RobotoBlack.ttf);
}

.header {
    display: flex;
    max-width: 1170px;
    padding: 29px 0;
    margin: 0 auto;
}

.nav__burger {
    display: none;
}

.nav {
    display: flex;
    align-items: center;
    margin-left: 26%;
    margin-right: 15%;
}

.nav__link {
    margin-left: 2em;
    margin-right: 2em;
    padding: 4px 13px;
    font-family: "RobotoRegular", sans-serif;
    font-size: 0.750em;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #333333;
}

.nav__link-active {
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
}

.main__cards {
    display: flex;
    flex-direction: column;
}

.main {
    margin-left: 135px;
    margin-right: 135px;
}

.main__header_black {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 20px;
}

.main__header_grey {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
}

.card {
    display: flex;
    margin-bottom: 40px;
    height: 50vh;

}

.card__image {
    width: 45%;
    height: 50vh;
}

.card__info {
    background-color: rgba(251, 251, 251, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.card__text {

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    margin-top: -20px;
    margin-left: 10px;


    color: #000000;
}

.card__header {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    color: #BDBDBD;
    margin-top: -20px;
    margin-left: 10px;

}

.button {
    background-color: rgba(255, 255, 255, 1);
    border: none;
    height: 20%;
    width: 45%;
    margin-left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #333333;
}

.main__control-buttons {
    display: flex;
    margin-bottom: 10px;
}

.main__control-buttons-numbers {
    margin-top: 90px;
}

.slide__numbers {
    display: flex;
}

.slide__number {
    font-family: "RobotoRegular", sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: #BDBDBD;
}

.number-active {
    max-width: 24px;
    word-break: break-all;
    color: #000000;
}

.slide__slash {
    margin: -4px 32px 0 26px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    transform: rotate(40deg);
    height: 35px;
    background: #E0E0E0;
}

.button_small {
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    width: 53px;
    height: 53px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;

}

.button_right {
    background: #F9F9F9;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
}

.footer_bottom {
    color: #C8C8C8;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    margin: 30px;
}



footer {
    background-color: #2C2C2C;
    font-style: Roboto;
    padding: 1%;
}

.footer_content {

    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    Width: 100%;
    Height: 417px;
}

.logo img {
    max-width: 100%;
}

.logo {

    display: flex;
    position: absolute;
    margin-left: 5%;
    margin-top: 3%;

}


.footer-heading_footer1 {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    display: flex;
    justify-content: right;
    flex-basis: 10%;
    margin-left: 25%;
    margin-top: 2%;
}

.a:hover {
    text-decoration: none;
}

.footer-heading_footer1_contetnt a {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 50%;
    text-decoration: none;
    color: #FFFFFF;

}

.footer-heading_footer2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    height: 50%;
    flex-basis: 25%;
    margin-left: 5%;
    margin-top: 2%;
}

.footer-heading_footer3 {

    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    flex-basis: 30%;
    margin-top: 2%;
}

.links a {
    width: 50%;
    color: #FFFFFF;
    text-decoration: none;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

h1 {
    font-size: 16px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #C8C8C8;
    padding: 0px;
}


.footer-heading_footer1 h1 {

    margin-bottom: 25px;
}

.footer-heading_footer2 h1 {

    margin-bottom: 25px;
}

.footer-heading_footer3 h1 {

    margin-bottom: 25px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .footer_content {
        display: flex;

    }

    .footer-heading_footer1 {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        display: flex;
        justify-content: right;
        flex-basis: 10%;
        margin-left: 25%;
    }

    .footer-heading_footer2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        display: flex;
        height: 50%;
        flex-basis: 25%;
        margin-left: 5%;
    }

    .footer-heading_footer3 {

        display: flex;
        flex-direction: column;
        color: #FFFFFF;
        text-decoration: none;
        font-size: 20px;
        color: #FFFFFF;
        flex-basis: 30%;
    }

    .logo {
        display: none;
    }

    .footer-heading_footer1 h1 {

        margin-bottom: 25px;
    }

    .footer-heading_footer2 h1 {

        margin-bottom: 25px;
    }

    .footer-heading_footer3 h1 {

        margin-bottom: 25px;
    }

    .footer-heading_footer1 {
        margin-top: 2%;
    }

    .footer-heading_footer2 {
        margin-top: 2%;
    }

    .footer-heading_footer3 {
        margin-top: 2%;
    }

}

@media screen and (max-width: 479) {
    .logo {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    .footer-heading_footer1 {
        margin-top: 2%;
    }

    .footer-heading_footer2 {
        margin-top: 2%;
    }

    .footer-heading_footer3 {
        margin-top: 2%;
    }
}

@media (min-width: 239) and (max-width: 478) {
    .logo {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    .footer-heading_footer1 {
        margin-top: 2%;
    }

    .footer-heading_footer2 {
        margin-top: 2%;
    }

    .footer-heading_footer3 {
        margin-top: 2%;
    }
}