@font-face {
    font-family: "RobotoRegular";
    src: url(../fonts/RobotoRegular.ttf);
}

.header {
    display: flex;
    padding: 29px 135px;
}

.nav {
    display: flex;
    align-items: center;
    margin-left: 25%;
    margin-right: 15%;
}

.nav__link {
    margin-left: 3em;
    margin-right: 3em;
    font-family: "RobotoRegular", sans-serif;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #333333;
}

.nav__link-active {
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
    padding: 4px 17px;
}